<h1>Nova Categoria: </h1>
<div class="card text-bg-secondary mb-3  " style="width: 25rem;">
<form action="/admin/categorias/add" method="POST" class="form my-3 mx-3">
    <label for="nome">NOME: </label>
        <input type="text" id="nome" name="nome" placeholder="NOME DA CATEGORIA" class="form-control">
    <label for="slug">SLUG: </label>
        <input type="text" id="slug" name="slug" placeholder="SLUG DA CATEGORIA" class="form-control">
    <br>
    <button class="btn btn-success mx-2 my-2">CRIAR CATEGORIA</button>
</form>
</div>